@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
  /* Catppuccin Mocha Colors */
  --ctp-rosewater: hsl(10deg, 56%, 91%);
  --ctp-flamingo: hsl(0deg, 59%, 88%);
  --ctp-pink: hsl(316deg, 72%, 86%);
  --ctp-mauve: hsl(267deg, 84%, 81%);
  --ctp-red: hsl(343deg, 81%, 75%);
  --ctp-maroon: hsl(350deg, 65%, 77%);
  --ctp-peach: hsl(23deg, 92%, 75%);
  --ctp-yellow: hsl(41deg, 86%, 83%);
  --ctp-green: hsl(115deg, 54%, 76%);
  --ctp-teal: hsl(170deg, 57%, 73%);
  --ctp-sky: hsl(189deg, 71%, 73%);
  --ctp-sapphire: hsl(199deg, 76%, 69%);
  --ctp-blue: hsl(217deg, 92%, 76%);
  --ctp-lavender: hsl(232deg, 97%, 85%);
  --ctp-text: hsl(226deg, 64%, 88%);
  --ctp-subtext1: hsl(227deg, 35%, 80%);
  --ctp-subtext0: hsl(228deg, 24%, 72%);
  --ctp-overlay2: hsl(228deg, 17%, 64%);
  --ctp-overlay1: hsl(230deg, 13%, 55%);
  --ctp-overlay0: hsl(231deg, 11%, 47%);
  --ctp-surface2: hsl(233deg, 12%, 39%);
  --ctp-surface1: hsl(234deg, 13%, 31%);
  --ctp-surface0: hsl(237deg, 16%, 23%);
  --ctp-base: hsl(240deg, 21%, 15%);
  --ctp-mantle: hsl(240deg, 21%, 12%);
  --ctp-crust: hsl(240deg, 23%, 9%);
  
  /* System Variables */
  --background: var(--ctp-base);
  --foreground: var(--ctp-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--ctp-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
